extends ../layout
block content
	#main
		// START WRAPPER
		.wrapper
			include ../../public/includes/left_sidebar.jade
		// START CONTENT
		section#content
			// start container
			.container
				.row
					h4 Create a new location
					.col.s12.m12.l6
						.card-panel
							.row
								form.col(class='s12', method='post' action="/locations/new")
									.input-field.col.s12
										input#location_name(type='text', name="location_name", placeholder="Name your location")
										| Location Name
									.input-field.col.s12
										input#searchBoxField(type='text', name="address")
										| Address
									.row
										.input-field.col.s12
											button.btn.cyan.waves-effect.waves-light.right(type='submit') Save Location!

			// FOOTER
			include ../../public/includes/footer.jade
			// JS Scripts
			include ../../public/includes/scripts.jade
			script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyB9xEAcDm6FwY9iDrdBRVsXhowU9FbDIao')  
