extends ../layout
block content
	#main
		// START WRAPPER
		.wrapper
			include ../../public/includes/left_sidebar.jade
		// START CONTENT
		section#content
			// start container
			.container
				#profile-page.section
				.col.s12.m6.l6
					button.btn.cyan.waves-effect.waves-light.right(type='submit') Save Location!
					.row
						.col.s12.m6.l6
							#focusAddress
								.card.small
									.card-image
										img(src='images/sample-1.jpg', alt='sample')
										span#card-address-title.card-title Card title
									.card-content
										p#card-addressFocus.addressInFocus Testing!!!!
								.row
									.col.s2.m2.offset-m1.l1.offset-l1
										a#getDirections.btn-floating.valign.btn-large.waves-effect.waves-light.cyan
											i.mdi-content-add-circle-outline
									.col.s2.m2.offset-m1.l1.offset-l1
										a#getDirections.btn-floating.valign.btn-large.waves-effect.waves-light.cyan
											i.mdi-content-remove-circle-outline
									.col.s2.m2.offset-m1.l1.offset-l1
										a#getDirections.btn-floating.valign.btn-large.waves-effect.waves-light.cyan
											i.mdi-image-edit
						.col.s12.m6.l6
							.col.s12.m6.l6
								#map(style="display:none")
								#jon_map.mobile-map
								#floating-panel


				.row
					if locations
						h1.location-header My Saved Locations         
						for location in locations
							.col.s12.m8.l4
								.card-panel.waves-effect.waves-dark.teal.saved-location-card
									span.card-title.location-card-name= location.name
									p.location-address= location.formatted_address

			.fixed-action-btn(style='bottom: 50px; right: 19px;')
				a.btn-floating.btn-large
					i.mdi-action-stars
				ul
					li
						a#modal-fire.btn-floating.blue.modal-trigger(href='#modal1')
							i.large.mdi-communication-location-on
					li
						a.btn-floating.green(href='/trips')
							i.large.mdi-av-timer
							// add trip modal
				#modal1.modal
					.modal-content
						.col.s12.m12.l6
							.card-panel
								h4.header2 Add a Location
							.row
								form.col(class='s12', method='post' action="/locations/userlocations")
									.input-field.col.s12
										input#location_name(type='text', name="location_name", placeholder="Name your location")
										| Location Name
									.input-field.col.s12
										input#searchBoxField(type='text', name="address")
										| Address
									.row
										.input-field.col.s12
											button.btn.cyan.waves-effect.waves-light.right(type='submit') Save Location!

			// FOOTER
			include ../../public/includes/footer.jade
			// JS Scripts
			include ../../public/includes/scripts.jade
			script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyB9xEAcDm6FwY9iDrdBRVsXhowU9FbDIao')  
