doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel="stylesheet", href="/css/custom/custom.css")
    link(rel="stylesheet", href="/css/layouts/style-horizontal.css")
    link(rel="stylesheet", href="/css/layouts/style-fullscreen.css")
    link(rel="stylesheet", href="/css/layouts/page-center.css")
    link(rel="stylesheet", href="/css/plugins/media-hover-effects.css")
    link(rel="stylesheet", href="/css/materialize.css")
    script(type="text/javascript" src="/nm/jquery/dist/jquery.min.js")
    script(type='text/javascript', src='/js/materialize.min.js')
    script(type='text/javascript', src='/js/plugins/prism/prism.js')
    script(type='text/javascript', src='/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js')
    script(type='text/javascript', src='/js/plugins.min.js')

  body
    block content
