doctype html
html(lang='en')
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel="stylesheet", href="/css/custom/custom.css")
    link(rel="stylesheet", href="/css/layouts/style-horizontal.css")
    link(rel="stylesheet", href="/css/layouts/style-fullscreen.css")
    link(rel="stylesheet", href="/css/layouts/page-center.css")
    link(rel="stylesheet", href="/css/plugins/media-hover-effects.css")
    link(rel="stylesheet", href="/css/materialize.css")
    
    script(type="text/javascript" src="/nm/jquery/dist/jquery.min.js")
    script(type='text/javascript', src='/js/materialize.min.js')
    script(type='text/javascript', src='/js/plugins/prism/prism.js')
    script(type='text/javascript', src='/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js')
    script(type='text/javascript', src='/js/plugins.min.js')
    
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='msapplication-tap-highlight', content='no')
    meta(name='description', content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ")
    meta(name='keywords', content='materialize, admin template, dashboard template, flat admin template, responsive admin template,')
    meta(name='keywords', content='materialize, admin template, board template, flat admin template, responsive admin template,')
    
    link(href='/css/materialize.css', type='text/css', rel='stylesheet', media='screen,projection')
    link(href='/css/style.css', type='text/css', rel='stylesheet', media='screen,projection')
    // Custome CSS
    link(href='/css/custom/custom.css', type='text/css', rel='stylesheet', media='screen,projection')
    // INCLUDED PLUGIN CSS ON THIS PAGE
    link(href='/js/plugins/jvectormap/jquery-jvectormap.css', type='text/css', rel='stylesheet', media='screen,projection')
    link(href='/js/plugins/chartist-js/chartist.min.css', type='text/css', rel='stylesheet', media='screen,projection')
    link(href='/js/plugins/perfect-scrollbar/perfect-scrollbar.css', type='text/css', rel='stylesheet', media='screen,projection')
    // INCLUDED PLUGIN CSS ON THIS PAGE
    link(href='/js/plugins/prism/prism.css', type='text/css', rel='stylesheet', media='screen,projection')
    // Favicons
    link(rel='icon', href='/images/favicon/favicon-32x32.png', sizes='32x32')
    // Favicons
    link(rel='apple-touch-icon-precomposed', href='/images/favicon/apple-touch-icon-152x152.png')
    // For iPhone
    meta(name='msapplication-TileColor', content='#00bcd4')
    meta(name='msapplication-TileImage', content='/images/favicon/mstile-144x144.png')
    
  body#login-body
    #loader-wrapper
      #loader
      .loader-section.section-left
      .loader-section.section-right
    
    block content
