extends ../layout
block content
  #loader-wrapper
    #loader
    .loader-section.section-left
    .loader-section.section-right
  // End Page Loading
  #login-page.row
    .col.s12.z-depth-4.card-panel
      form.login-form
        .row
          .input-field.col.s12.center
            h4 Forgot Password
            p.center You can reset your password
        .row.margin
          .input-field.col.s12
            i.mdi-social-person-outline.prefix
            input#username(type='text')
            label.center-align(for='username') Username
        .row.margin
          .input-field.col.s12
            i.mdi-action-lock-outline.prefix
            input#password(type='password')
            label(for='password') Password
        .row
          .input-field.col.s12
            a.btn.waves-effect.waves-light.col.s12(href='index.html') Reset Password
          .input-field.col.s12
            p.margin.sign-up
              a(href='page-login.html') Login
              a.right(href='page-register.html') Register
  