extends ../layout
block content
  #loader-wrapper
    #loader
    .loader-section.section-left
    .loader-section.section-right
  #login-page.row
    .col.s12.z-depth-4.card-panel
      if message
        div #{message}
      form.login-form(action="/login", method="POST")
        .row
          .input-field.col.s12.center
            img.circle.responsive-img.valign.profile-image-login(src='/images/login-logo.png', alt='')
            h3.center.login-form-text end2end
        .row.margin
          .input-field.col.s12
            i.mdi-social-person-outline.prefix
            input#username(type='text', name="username")
            label.center-align(for='username') Username
        .row.margin
          .input-field.col.s12
            i.mdi-action-lock-outline.prefix
            input#password(type='password', name="passowrd")
            label(for='password') Password
        .row
          .input-field.col.s12.m12.l12.login-text
            input#remember-me(type='checkbox', name="remember_me")
            label(for='remember-me') Remember me
        .row
          .input-field.col.s12
            button.btn.waves-effect.waves-light.col.s12.green(type="submit") Login
        .row
          .input-field.col.s12
            a.btn.waves-effect.waves-light.col.s12(href='/auth/lyft') Login with Lyft
        .row
          .input-field.col.s12
            a.btn.waves-effect.waves-light.col.s12.black(href='/auth/uber') Login with Uber
        .row
          .input-field.col.s6.m6.l6
            p.margin.medium-small
              a(href='/login/register') Register Now!
          .input-field.col.s6.m6.l6
            p.margin.right-align.medium-small
              a(href='/login/forgot_pass') Forgot password ?