extends ../login_layout
block content 
  #login-page.row
    .col.s12.z-depth-4.card-panel
      form.login-form(action="/login/register/", method="POST")
        .row
          .input-field.col.s12.center
            img.responsive-img.valign.profile-image-login(src='/images/logo/White - Aligned.svg', alt='e2e travel logo')
            h3.center.login-form-text end2end.travel
            h4 Register
            p.center Join to our community now !
        .row
          .input-field.col.s12
            i.mdi-social-person-outline.prefix
            input#username(name="e2e_username", type='text')
            label.center-align(for='username') Username
        .row.margin
          .input-field.col.s12
            i.mdi-communication-email.prefix
            input#email(name="e2e_email", type='email')
            label.center-align(for='email') Email
        .row.margin
          .input-field.col.s12
            i.mdi-action-lock-outline.prefix
            input#password(name="e2e_password", type='password')
            label(for='password') Password
        .row.margin
          .input-field.col.s12
            i.mdi-action-lock-outline.prefix
            input#password-again(type='password')
            label(for='password-again') Password again
        .row
          .input-field.col.s12
            button.btn.waves-effect.waves-light.col.s12(type="submit") Register Now
          .input-field.col.s12
            p.margin.center.medium-small.sign-up
              | Already have an account? 
              a(href='/login') Login
