extends ../layout
block content
	#main
		// START WRAPPER
		.wrapper
			include ../../public/includes/left_sidebar.jade
		section#content
			// start container
			.container
				// chart dashboard start
				#chart-dashboard
					.row
						.col.s12.m8.l8
							.card
								.card-move-up.waves-effect.waves-block.waves-light
									.move-up.cyan.darken-1
										div
											span.chart-title.white-text Revenue
											.chart-revenue.cyan.darken-2.white-text
												p.chart-revenue-total $4,500.85
												p.chart-revenue-per
													i.mdi-navigation-arrow-drop-up
													|  21.80 %
											.switch.chart-revenue-switch.right
												label.cyan-text.text-lighten-5
													| Month
													input(type='checkbox')
													span.lever
													|  Year
										.trending-line-chart-wrapper
											canvas#trending-line-chart(height='70')
								.card-content
									a.btn-floating.btn-move-up.waves-effect.waves-light.darken-2.right
										i.mdi-content-add.activator
									.col.s12.m3.l3
										#doughnut-chart-wrapper
											canvas#doughnut-chart(height='200')
											.doughnut-chart-status
												| 4500
												p.ultra-small.center-align Sold
									.col.s12.m2.l2
										ul.doughnut-chart-legend
											li.mobile.ultra-small
												span.legend-color
												| Mobile
											li.kitchen.ultra-small
												span.legend-color
												|  Kitchen
											li.home.ultra-small
												span.legend-color
												|  Home
									.col.s12.m5.l6
										.trending-bar-chart-wrapper
											canvas#trending-bar-chart(height='90')
								.card-reveal
									span.card-title.grey-text.text-darken-4
										| Revenue by Month 
										i.mdi-navigation-close.right
									table.responsive-table
										thead
											tr
												th(data-field='id') ID
												th(data-field='month') Month
												th(data-field='item-sold') Item Sold
												th(data-field='item-price') Item Price
												th(data-field='total-profit') Total Profit
										tbody
											tr
												td 1
												td January
												td 122
												td 100
												td $122,00.00
											tr
												td 2
												td February
												td 122
												td 100
												td $122,00.00
											tr
												td 3
												td March
												td 122
												td 100
												td $122,00.00
											tr
												td 4
												td April
												td 122
												td 100
												td $122,00.00
											tr
												td 5
												td May
												td 122
												td 100
												td $122,00.00
											tr
												td 6
												td June
												td 122
												td 100
												td $122,00.00
											tr
												td 7
												td July
												td 122
												td 100
												td $122,00.00
											tr
												td 8
												td August
												td 122
												td 100
												td $122,00.00
											tr
												td 9
												td Septmber
												td 122
												td 100
												td $122,00.00
											tr
												td 10
												td Octomber
												td 122
												td 100
												td $122,00.00
											tr
												td 11
												td November
												td 122
												td 100
												td $122,00.00
											tr
												td 12
												td December
												td 122
												td 100
												td $122,00.00
						.col.s12.m4.l4
							.card
								.card-move-up.teal.waves-effect.waves-block.waves-light
									.move-up
										p.margin.white-text Browser Stats
										canvas#trending-radar-chart(height='114')
								.card-content.teal.darken-2
									a.btn-floating.btn-move-up.waves-effect.waves-light.darken-2.right
										i.mdi-content-add.activator
									.line-chart-wrapper
										p.margin.white-text Revenue by country
										canvas#line-chart(height='114')
								.card-reveal
									span.card-title.grey-text.text-darken-4
										| Revenue by country 
										i.mdi-navigation-close.right
									table.responsive-table
										thead
											tr
												th(data-field='country-name') Country Name
												th(data-field='item-sold') Item Sold
												th(data-field='total-profit') Total Profit
										tbody
											tr
												td USA
												td 65
												td $452.55
											tr
												td UK
												td 76
												td $452.55
											tr
												td Canada
												td 65
												td $452.55
											tr
												td Brazil
												td 76
												td $452.55
											tr
												td India
												td 65
												td $452.55
											tr
												td France
												td 76
												td $452.55
											tr
												td Austrelia
												td 65
												td $452.55
											tr
												td Russia
												td 76
												td $452.55
				// chart dashboard end
				// ////////////////////////////////////////////////////////////////////////////
				// card stats start
				#card-stats
					.row
						.col.s12.m6.l3
							.card
								.card-content.green.white-text
									p.card-stats-title
										i.mdi-social-group-add
										|  New Clients
									h4.card-stats-number 566
									p.card-stats-compare
										i.mdi-hardware-keyboard-arrow-up
										|  15% 
										span.green-text.text-lighten-5 from yesterday
								.card-action.green.darken-2
									#clients-bar.center-align
						.col.s12.m6.l3
							.card
								.card-content.pink.lighten-1.white-text
									p.card-stats-title
										i.mdi-editor-insert-drive-file
										|  New Invoice
									h4.card-stats-number 1806
									p.card-stats-compare
										i.mdi-hardware-keyboard-arrow-down
										|  3% 
										span.deep-purple-text.text-lighten-5 from last month
								.card-action.pink.darken-2
									#invoice-line.center-align
						.col.s12.m6.l3
							.card
								.card-content.blue-grey.white-text
									p.card-stats-title
										i.mdi-action-trending-up
										|  Today Profit
									h4.card-stats-number $806.52
									p.card-stats-compare
										i.mdi-hardware-keyboard-arrow-up
										|  80% 
										span.blue-grey-text.text-lighten-5 from yesterday
								.card-action.blue-grey.darken-2
									#profit-tristate.center-align
						.col.s12.m6.l3
							.card
								.card-content.purple.white-text
									p.card-stats-title
										i.mdi-editor-attach-money
										| Total Sales
									h4.card-stats-number $8990.63
									p.card-stats-compare
										i.mdi-hardware-keyboard-arrow-up
										|  70% 
										span.purple-text.text-lighten-5 last month
								.card-action.purple.darken-2
									#sales-compositebar.center-align
				// card stats end
				// ////////////////////////////////////////////////////////////////////////////
				// card widgets start
				#card-widgets
					.row
						.col.s12.m12.l4
							ul#task-card.collection.with-header
								li.collection-header.cyan
									h4.task-card-title My Task
									p.task-card-date March 26, 2015
								li.collection-item.dismissable
									input#task1(type='checkbox')
									label(for='task1')
										| Create Mobile App UI. 
										a.secondary-content(href='#')
											span.ultra-small Today
									span.task-cat.teal Mobile App
								li.collection-item.dismissable
									input#task2(type='checkbox')
									label(for='task2')
										| Check the new API standerds. 
										a.secondary-content(href='#')
											span.ultra-small Monday
									span.task-cat.purple Web API
								li.collection-item.dismissable
									input#task3(type='checkbox', checked='checked')
									label(for='task3')
										| Check the new Mockup of ABC. 
										a.secondary-content(href='#')
											span.ultra-small Wednesday
									span.task-cat.pink Mockup
								li.collection-item.dismissable
									input#task4(type='checkbox', checked='checked', disabled='disabled')
									label(for='task4') I did it !
									span.task-cat.cyan Mobile App
						.col.s12.m6.l4
							#flight-card.card
								.card-header.amber.darken-2
									.card-title
										h4.flight-card-title Flight
										p.flight-card-date June 18, Thu 04:50
								.card-content-bg.white-text
									.card-content
										.row.flight-state-wrapper
											.col.s5.m5.l5.center-align
												.flight-state
													h4.margin LDN
													p.ultra-small London
											.col.s2.m2.l2.center-align
												i.mdi-device-airplanemode-on.flight-icon
											.col.s5.m5.l5.center-align
												.flight-state
													h4.margin SFO
													p.ultra-small San Francisco
										.row
											.col.s6.m6.l6.center-align
												.flight-info
													p.small
														span.grey-text.text-lighten-4 Depart:
														|  04.50
													p.small
														span.grey-text.text-lighten-4 Flight:
														|  IB 5786
													p.small
														span.grey-text.text-lighten-4 Terminal:
														|  B
											.col.s6.m6.l6.center-align.flight-state-two
												.flight-info
													p.small
														span.grey-text.text-lighten-4 Arrive:
														|  08.50
													p.small
														span.grey-text.text-lighten-4 Flight:
														|  IB 5786
													p.small
														span.grey-text.text-lighten-4 Terminal:
														|  C
						.col.s12.m6.l4
							#profile-card.card
								.card-image.waves-effect.waves-block.waves-light
									img.activator(src='images/user-bg.jpg', alt='user background')
								.card-content
									img.circle.responsive-img.activator.card-profile-image(src='images/avatar.jpg', alt='')
									a.btn-floating.activator.btn-move-up.waves-effect.waves-light.darken-2.right
										i.mdi-action-account-circle
									span.card-title.activator.grey-text.text-darken-4 Roger Waters
									p
										i.mdi-action-perm-identity.cyan-text.text-darken-2
										|  Project Manager
									p
										i.mdi-action-perm-phone-msg.cyan-text.text-darken-2
										|  +1 (612) 222 8989
									p
										i.mdi-communication-email.cyan-text.text-darken-2
										|  mail@domain.com
								.card-reveal
									span.card-title.grey-text.text-darken-4
										| Roger Waters 
										i.mdi-navigation-close.right
									p Here is some more information about this card.
									p
										i.mdi-action-perm-identity.cyan-text.text-darken-2
										|  Project Manager
									p
										i.mdi-action-perm-phone-msg.cyan-text.text-darken-2
										|  +1 (612) 222 8989
									p
										i.mdi-communication-email.cyan-text.text-darken-2
										|  mail@domain.com
									p
										i.mdi-social-cake.cyan-text.text-darken-2
										|  18th June 1990
									p
										i.mdi-device-airplanemode-on.cyan-text.text-darken-2
										|  BAR - AUS
					.row
						// blog card
						.col.s12.m12.l4
							.blog-card
								.card
									.card-image.waves-effect.waves-block.waves-light
										img(src='images/gallary/30.jpg', alt='blog-img')
									ul.card-action-buttons
										li
											a.btn-floating.waves-effect.waves-light.green.accent-4
												i.mdi-social-share
										li
											a.btn-floating.waves-effect.waves-light.light-blue
												i.mdi-action-info.activator
									.card-content
										p.row
											span.left
												a(href='') Web Design
											span.right 18th June, 2015
										h4.card-title.grey-text.text-darken-4
											a.grey-text.text-darken-4(href='#') Materialize Featured Blog Post Card
										.row
											.col.s2
												img.circle.responsive-img.valign.profile-image(src='images/avatar.jpg', alt='')
											.col.s9
												| By 
												a(href='#') John Doe
									.card-reveal
										span.card-title.grey-text.text-darken-4
											i.mdi-navigation-close.right
											|  Apple MacBook Pro A1278 13"
										p
											| Here is some more information about this blog that is only revealed once clicked on.
						// product-card
						.col.s12.m12.l4
							.product-card
								.card
									.card-image.waves-effect.waves-block.waves-light
										a.btn-floating.btn-large.btn-price.waves-effect.waves-light.pink.accent-2(href='#') $189
										img(src='images/gallary/33.jpg', alt='product-img')
									ul.card-action-buttons
										li
											a.btn-floating.waves-effect.waves-light.green.accent-4
												i.mdi-av-repeat
										li
											a.btn-floating.waves-effect.waves-light.red.accent-2
												i.mdi-action-favorite
										li
											a.btn-floating.waves-effect.waves-light.light-blue
												i.mdi-action-info.activator
									.card-content
										.row
											.col.s8
												p.card-title.grey-text.text-darken-4
													a.grey-text.text-darken-4(href='#') Featured Product of The Month
											.col.s4.no-padding
												a(href='')
												img.responsive-img(src='images/amazon.jpg', alt='amazon')
									.card-reveal
										span.card-title.grey-text.text-darken-4
											i.mdi-navigation-close.right
											|  Apple MacBook Pro A1278 13"
										p
											| Here is some more information about this product that is only revealed once clicked on.
						// map-card
						.col.s12.m12.l4
							.map-card
								.card
									.card-image.waves-effect.waves-block.waves-light
										#map-canvas(data-lat='40.747688', data-lng='-74.004142')
									.card-content
										a.btn-floating.activator.btn-move-up.waves-effect.waves-light.darken-2.right
											i.mdi-maps-pin-drop
										h4.card-title.grey-text.text-darken-4
											a.grey-text.text-darken-4(href='#') Company Name LLC
										p.blog-post-content Some more information about this company.
									.card-reveal
										span.card-title.grey-text.text-darken-4
											| Company Name LLC 
											i.mdi-navigation-close.right
										p
											| Here is some more information about this company. As a creative studio we believe no client is too big nor too small to work with us to obtain good advantage.By combining the creativity of artists with the precision of engineers we develop custom solutions that achieve results.Some more information about this company.
										p
											i.mdi-action-perm-identity.cyan-text.text-darken-2
											|  Manager Name
										p
											i.mdi-communication-business.cyan-text.text-darken-2
											|  125, ABC Street, New Yourk, USA
										p
											i.mdi-action-perm-phone-msg.cyan-text.text-darken-2
											|  +1 (612) 222 8989
										p
											i.mdi-communication-email.cyan-text.text-darken-2
											|  support@geekslabs.com
					// card widgets end
					// ////////////////////////////////////////////////////////////////////////////
					// work collections start
					#work-collections
						.row
							.col.s12.m12.l6
								ul#projects-collection.collection
									li.collection-item.avatar
										i.mdi-file-folder.circle.light-blue.darken-2
										span.collection-header Projects
										p Your Favorites
										a.secondary-content(href='#')
											i.mdi-action-grade
									li.collection-item
										.row
											.col.s6
												p.collections-title Web App
												p.collections-content AEC Company
											.col.s3
												span.task-cat.cyan Development
											.col.s3
												#project-line-1
									li.collection-item
										.row
											.col.s6
												p.collections-title Mobile App for Social
												p.collections-content iSocial App
											.col.s3
												span.task-cat.grey.darken-3 UI/UX
											.col.s3
												#project-line-2
									li.collection-item
										.row
											.col.s6
												p.collections-title Website
												p.collections-content MediTab
											.col.s3
												span.task-cat.teal Marketing
											.col.s3
												#project-line-3
									li.collection-item
										.row
											.col.s6
												p.collections-title AdWord campaign
												p.collections-content True Line
											.col.s3
												span.task-cat.green SEO
											.col.s3
												#project-line-4
							.col.s12.m12.l6
								ul#issues-collection.collection
									li.collection-item.avatar
										i.mdi-action-bug-report.circle.red.darken-2
										span.collection-header Issues
										p Assigned to you
										a.secondary-content(href='#')
											i.mdi-action-grade
									li.collection-item
										.row
											.col.s7
												p.collections-title
													strong #102
													|  Home Page
												p.collections-content Web Project
											.col.s2
												span.task-cat.pink.accent-2 P1
											.col.s3
												.progress
													.determinate(style='width: 70%')
									li.collection-item
										.row
											.col.s7
												p.collections-title
													strong #108
													|  API Fix
												p.collections-content API Project 
											.col.s2
												span.task-cat.yellow.darken-4 P2
											.col.s3
												.progress
													.determinate(style='width: 40%')
									li.collection-item
										.row
											.col.s7
												p.collections-title
													strong #205
													|  Profile page css
												p.collections-content New Project 
											.col.s2
												span.task-cat.light-green.darken-3 P3
											.col.s3
												.progress
													.determinate(style='width: 95%')
									li.collection-item
										.row
											.col.s7
												p.collections-title
													strong #188
													|  SAP Changes
												p.collections-content SAP Project
											.col.s2
												span.task-cat.pink.accent-2 P1
											.col.s3
												.progress
													.determinate(style='width: 10%')
					// work collections end
					// Floating Action Button
					#profile-page.section
						.fixed-action-btn(style='bottom: 50px; right: 19px;')
							a.btn-floating.btn-large
								i.mdi-action-stars
							ul
								li
									a#modal-fire.btn-floating.blue.modal-trigger(href='#modal1')
										i.large.mdi-communication-location-on
								li
									a.btn-floating.green(href='/trips')
										i.large.mdi-av-timer
										// add trip modal

						#modal1.modal
							.modal-content
								.col.s12.m12.l6
									.card-panel
										h4.header2 Add a Location
									.row
										form.col(class='s12', method='post' action="/user_locations")
											.input-field.col.s12
												input#location_name(type='text', name="location_name", placeholder="Name your location")
												| Location Name
											.input-field.col.s12
												input#searchBoxField(type='text', name="address")
												| Address
										.row
											.input-field.col.s12
												button.btn.cyan.waves-effect.waves-light.right(type='submit', name='submit') Save Location!

					// Floating Action Button
					// end container
					// END CONTENT
					// ////////////////////////////////////////////////////////////////////////////
					// START RIGHT SIDEBAR NAV
					aside#right-sidebar-nav
						ul#chat-out.side-nav.rightside-navigation
							li.li-hover
								a.chat-close-collapse.right(href='#', data-activates='chat-out')
									i.mdi-navigation-close
								#right-search.row
									form.col.s12
										.input-field
											i.mdi-action-search.prefix
											input#icon_prefix.validate(type='text')
											label(for='icon_prefix') Search
							li.li-hover
								ul.chat-collapsible(data-collapsible='expandable')
									li
										.collapsible-header.teal.white-text.active
											i.mdi-social-whatshot
											| Recent Activity
										.collapsible-body.recent-activity
											.recent-activity-list.chat-out-list.row
												.col.s3.recent-activity-list-icon
													i.mdi-action-add-shopping-cart
												.col.s9.recent-activity-list-text
													a(href='#') just now
													p Jim Doe Purchased new equipments for zonal office.
											.recent-activity-list.chat-out-list.row
												.col.s3.recent-activity-list-icon
													i.mdi-device-airplanemode-on
												.col.s9.recent-activity-list-text
													a(href='#') Yesterday
													p Your Next flight for USA will be on 15th August 2015.
											.recent-activity-list.chat-out-list.row
												.col.s3.recent-activity-list-icon
													i.mdi-action-settings-voice
												.col.s9.recent-activity-list-text
													a(href='#') 5 Days Ago
													p Natalya Parker Send you a voice mail for next conference.
											.recent-activity-list.chat-out-list.row
												.col.s3.recent-activity-list-icon
													i.mdi-action-store
												.col.s9.recent-activity-list-text
													a(href='#') Last Week
													p Jessy Jay open a new store at S.G Road.
											.recent-activity-list.chat-out-list.row
												.col.s3.recent-activity-list-icon
													i.mdi-action-settings-voice
												.col.s9.recent-activity-list-text
													a(href='#') 5 Days Ago
													p Natalya Parker Send you a voice mail for next conference.
									li
										.collapsible-header.light-blue.white-text.active
											i.mdi-editor-attach-money
											| Sales Repoart
										.collapsible-body.sales-repoart
											.sales-repoart-list.chat-out-list.row
												.col.s8 Target Salse
												.col.s4
													span#sales-line-1
											.sales-repoart-list.chat-out-list.row
												.col.s8 Payment Due
												.col.s4
													span#sales-bar-1
											.sales-repoart-list.chat-out-list.row
												.col.s8 Total Delivery
												.col.s4
													span#sales-line-2
											.sales-repoart-list.chat-out-list.row
												.col.s8 Total Progress
												.col.s4
													span#sales-bar-2
									li
										.collapsible-header.red.white-text
											i.mdi-action-stars
											| Favorite Associates
										.collapsible-body.favorite-associates
											.favorite-associate-list.chat-out-list.row
												.col.s4
													img.circle.responsive-img.online-user.valign.profile-image(src='images/avatar.jpg', alt='')
												.col.s8
													p Eileen Sideways
													p.place Los Angeles, CA
											.favorite-associate-list.chat-out-list.row
												.col.s4
													img.circle.responsive-img.online-user.valign.profile-image(src='images/avatar.jpg', alt='')
												.col.s8
													p Zaham Sindil
													p.place San Francisco, CA
											.favorite-associate-list.chat-out-list.row
												.col.s4
													img.circle.responsive-img.offline-user.valign.profile-image(src='images/avatar.jpg', alt='')
												.col.s8
													p Renov Leongal
													p.place Cebu City, Philippines
											.favorite-associate-list.chat-out-list.row
												.col.s4
													img.circle.responsive-img.online-user.valign.profile-image(src='images/avatar.jpg', alt='')
												.col.s8
													p Weno Carasbong
													p Tokyo, Japan
											.favorite-associate-list.chat-out-list.row
												.col.s4
													img.circle.responsive-img.offline-user.valign.profile-image(src='images/avatar.jpg', alt='')
												.col.s8
													p Nusja Nawancali
													p.place , Thailand
						// LEFT RIGHT SIDEBAR NAV
						// END WRAPPER
						// END MAIN
						// ////////////////////////////////////////////////////////////////////////////
						// START FOOTER
			include ../../public/includes/footer.jade
						//
							================================================
							Scripts
							================================================
						// jQuery Library
						script(type='text/javascript', src='/js/plugins/jquery-1.11.2.min.js')
						// materialize js
						script(type='text/javascript', src='/js/materialize.js')
						// prism
						script(type='text/javascript', src='/js/plugins/prism/prism.js')
						// scrollbar
						script(type='text/javascript', src='/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js')
						// chartist
						script(type='text/javascript', src='/js/plugins/chartist-js/chartist.min.js')
						// chartjs
						script(type='text/javascript', src='/js/plugins/chartjs/chart.min.js')
						script(type='text/javascript', src='/js/plugins/chartjs/chart-script.js')
						// interactivity
						script(type='text/javascript', src='/js/interactivity.js')
						// sparkline
						script(type='text/javascript', src='/js/plugins/sparkline/jquery.sparkline.min.js')
						script(type='text/javascript', src='/js/plugins/sparkline/sparkline-script.js')
						// google map api - Believe its the templates
						//- script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAAZnaZBXLqNBRXjd-82km_NO7GUItyKek')
						// google map api
						script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyB9xEAcDm6FwY9iDrdBRVsXhowU9FbDIao')  
						// jvectormap
						script(type='text/javascript', src='/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js')
						script(type='text/javascript', src='/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js')
						script(type='text/javascript', src='/js/plugins/jvectormap/vectormap-script.js')
						// google map
						script(type='text/javascript', src='/js/plugins/google-map/google-map-script.js')
						// plugins.js - Some Specific JS codes for Plugin Settings
						script(type='text/javascript', src='/js/plugins.js')
						// custom-script.js - Add your own theme custom JS
						script(type='text/javascript', src='/js/custom-script.js')    
						// Toast Notification
						script(type='text/javascript')
