doctype html
html(lang='en')
  //
    ================================================================================
    Item Name: Materialize - Material Design Admin Template
    Version: 3.1
    Author: GeeksLabs
    Author URL: http://www.themeforest.net/user/geekslabs
    ================================================================================
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='msapplication-tap-highlight', content='no')
    meta(name='description', content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ")
    meta(name='keywords', content='materialize, admin template, dashboard template, flat admin template, responsive admin template,')
    title Profile Page | Materialize - Material Design Admin Template
    // Favicons
    link(rel='icon', href='images/favicon/favicon-32x32.png', sizes='32x32')
    // Favicons
    link(rel='apple-touch-icon-precomposed', href='images/favicon/apple-touch-icon-152x152.png')
    // For iPhone
    meta(name='msapplication-TileColor', content='#00bcd4')
    meta(name='msapplication-TileImage', content='images/favicon/mstile-144x144.png')
    // For Windows Phone
    // CORE CSS
    link(href='/css/materialize.css', type='text/css', rel='stylesheet', media='screen,projection')
    link(href='/css/style.css', type='text/css', rel='stylesheet', media='screen,projection')
    // Custome CSS
    link(href='/css/custom/custom.css', type='text/css', rel='stylesheet', media='screen,projection')
    // INCLUDED PLUGIN CSS ON THIS PAGE
    link(href='/js/plugins/prism/prism.css', type='text/css', rel='stylesheet', media='screen,projection')
    link(href='/js/plugins/perfect-scrollbar/perfect-scrollbar.css', type='text/css', rel='stylesheet', media='screen,projection')
    link(href='/js/plugins/chartist-js/chartist.min.css', type='text/css', rel='stylesheet', media='screen,projection')
  body
    // Start Page Loading
    #loader-wrapper
      #loader
      .loader-section.section-left
      .loader-section.section-right
    // End Page Loading
    // ////////////////////////////////////////////////////////////////////////////
    // START HEADER
    header#header.page-topbar
      // start header nav
      .navbar-fixed
        nav.navbar-color
          .nav-wrapper
            ul.left
              li
                h1.logo-wrapper
                  a.brand-logo.darken-1(href='index.html')
                    img(src='images/materialize-logo.png', alt='materialize logo')
                  span.logo-text Materialize
            .header-search-wrapper.hide-on-med-and-down
              i.mdi-action-search
              input.header-search-input.z-depth-2(type='text', name='Search', placeholder='Explore Materialize')
            ul.right.hide-on-med-and-down
              li
                a.waves-effect.waves-block.waves-light.translation-button(href='javascript:void(0);', data-activates='translation-dropdown')
                  img(src='images/flag-icons/United-States.png', alt='USA')
              li
                a.waves-effect.waves-block.waves-light.toggle-fullscreen(href='javascript:void(0);')
                  i.mdi-action-settings-overscan
              li
                a.waves-effect.waves-block.waves-light.notification-button(href='javascript:void(0);', data-activates='notifications-dropdown')
                  i.mdi-social-notifications
                    small.notification-badge 5
              li
                a.waves-effect.waves-block.waves-light.chat-collapse(href='#', data-activates='chat-out')
                  i.mdi-communication-chat
            // translation-button
            ul#translation-dropdown.dropdown-content
              li
                a(href='#!')
                  img(src='images/flag-icons/United-States.png', alt='English')
                  span.language-select English
              li
                a(href='#!')
                  img(src='images/flag-icons/France.png', alt='French')
                  span.language-select French
              li
                a(href='#!')
                  img(src='images/flag-icons/China.png', alt='Chinese')
                  span.language-select Chinese
              li
                a(href='#!')
                  img(src='images/flag-icons/Germany.png', alt='German')
                  span.language-select German
            // notifications-dropdown
            ul#notifications-dropdown.dropdown-content
              li
                h5
                  | NOTIFICATIONS 
                  span.new.badge 5
              li.divider
              li
                a(href='#!')
                  i.mdi-action-add-shopping-cart
                  |  A new order has been placed!
                time.media-meta(datetime='2015-06-12T20:50:48+08:00') 2 hours ago
              li
                a(href='#!')
                  i.mdi-action-stars
                  |  Completed the task
                time.media-meta(datetime='2015-06-12T20:50:48+08:00') 3 days ago
              li
                a(href='#!')
                  i.mdi-action-settings
                  |  Settings updated
                time.media-meta(datetime='2015-06-12T20:50:48+08:00') 4 days ago
              li
                a(href='#!')
                  i.mdi-editor-insert-invitation
                  |  Director meeting started
                time.media-meta(datetime='2015-06-12T20:50:48+08:00') 6 days ago
              li
                a(href='#!')
                  i.mdi-action-trending-up
                  |  Generate monthly report
                time.media-meta(datetime='2015-06-12T20:50:48+08:00') 1 week ago
      // end header nav
    // END HEADER
    // ////////////////////////////////////////////////////////////////////////////
    // START MAIN
    #main
      // START WRAPPER
      .wrapper
        // START LEFT SIDEBAR NAV
        aside#left-sidebar-nav
          ul#slide-out.side-nav.fixed.leftside-navigation
            li.user-details.cyan.darken-2
              .row
                .col.col.s4.m4.l4
                  img.circle.responsive-img.valign.profile-image(src='images/avatar.jpg', alt='')
                .col.col.s8.m8.l8
                  ul#profile-dropdown.dropdown-content
                    li
                      a(href='#')
                        i.mdi-action-face-unlock
                        |  Profile
                    li
                      a(href='#')
                        i.mdi-action-settings
                        |  Settings
                    li
                      a(href='#')
                        i.mdi-communication-live-help
                        |  Help
                    li.divider
                    li
                      a(href='#')
                        i.mdi-action-lock-outline
                        |  Lock
                    li
                      a(href='#')
                        i.mdi-hardware-keyboard-tab
                        |  Logout
                  a.btn-flat.dropdown-button.waves-effect.waves-light.white-text.profile-btn(href='#', data-activates='profile-dropdown')
                    | John Doe
                    i.mdi-navigation-arrow-drop-down.right
                  p.user-roal Administrator
            li.bold
              a.waves-effect.waves-cyan(href='index.html')
                i.mdi-action-dashboard
                |  Dashboard
            li.no-padding
              ul.collapsible.collapsible-accordion
                li.bold
                  a.collapsible-header.waves-effect.waves-cyan
                    i.mdi-action-view-carousel
                    |  Layouts
                  .collapsible-body
                    ul
                      li
                        a(href='layout-fullscreen.html') Full Screen
                      li
                        a(href='layout-horizontal-menu.html') Horizontal Menu
            li.bold
              a.waves-effect.waves-cyan(href='app-email.html')
                i.mdi-communication-email
                |  Mailbox 
                span.new.badge 4
            li.bold
              a.waves-effect.waves-cyan(href='app-calendar.html')
                i.mdi-editor-insert-invitation
                |  Calender
            li.no-padding
              ul.collapsible.collapsible-accordion
                li.bold
                  a.collapsible-header.waves-effect.waves-cyan
                    i.mdi-action-invert-colors
                    |  CSS
                  .collapsible-body
                    ul
                      li
                        a(href='css-typography.html') Typography
                      li
                        a(href='css-icons.html') Icons
                      li
                        a(href='css-animations.html') Animations
                      li
                        a(href='css-shadow.html') Shadow
                      li
                        a(href='css-media.html') Media
                      li
                        a(href='css-sass.html') Sass
                li.bold
                  a.collapsible-header.waves-effect.waves-cyan
                    i.mdi-image-palette
                    |  UI Elements
                  .collapsible-body
                    ul
                      li
                        a(href='ui-alerts.html') Alerts
                      li
                        a(href='ui-buttons.html') Buttons
                      li
                        a(href='ui-badges.html') Badges
                      li
                        a(href='ui-breadcrumbs.html') Breadcrumbs
                      li
                        a(href='ui-collections.html') Collections
                      li
                        a(href='ui-collapsibles.html') Collapsibles
                      li
                        a(href='ui-tabs.html') Tabs
                      li
                        a(href='ui-navbar.html') Navbar
                      li
                        a(href='ui-pagination.html') Pagination
                      li
                        a(href='ui-preloader.html') Preloader
                      li
                        a(href='ui-toasts.html') Toasts
                      li
                        a(href='ui-tooltip.html') Tooltip
                      li
                        a(href='ui-waves.html') Waves
                li.bold
                  a.collapsible-header.waves-effect.waves-cyan
                    i.mdi-av-queue
                    |  Advanced UI 
                    span.new.badge
                  .collapsible-body
                    ul
                      li
                        a(href='advanced-ui-chips.html') Chips
                      li
                        a(href='advanced-ui-cards.html') Cards
                      li
                        a(href='advanced-ui-modals.html') Modals
                      li
                        a(href='advanced-ui-media.html') Media
                      li
                        a(href='advanced-ui-range-slider.html') Range Slider
                      li
                        a(href='advanced-ui-sweetalert.html') SweetAlert
                      li
                        a(href='advanced-ui-nestable.html') Shortable & Nestable
                      li
                        a(href='advanced-ui-translation.html') Language Translation
                      li
                        a(href='advanced-ui-highlight.html') Highlight
                li.bold
                  a.waves-effect.waves-cyan(href='app-widget.html')
                    i.mdi-device-now-widgets
                    |  Widgets
                li.bold
                  a.collapsible-header.waves-effect.waves-cyan
                    i.mdi-editor-border-all
                    |  Tables
                  .collapsible-body
                    ul
                      li
                        a(href='table-basic.html') Basic Tables
                      li
                        a(href='table-data.html') Data Tables
                      li
                        a(href='table-jsgrid.html') jsGrid
                      li
                        a(href='table-editable.html') Editable Table
                      li
                        a(href='table-floatThead.html') floatThead
                li.bold
                  a.collapsible-header.waves-effect.waves-cyan
                    i.mdi-editor-insert-comment
                    |  Forms 
                    span.new.badge
                  .collapsible-body
                    ul
                      li
                        a(href='form-elements.html') Form Elements
                      li
                        a(href='form-layouts.html') Form Layouts
                      li
                        a(href='form-validation.html') Form Validations
                      li
                        a(href='form-masks.html') Form Masks
                      li
                        a(href='form-file-uploads.html') File Uploads
                li.bold
                  a.collapsible-header.waves-effect.waves-cyan
                    i.mdi-social-pages
                    |  Pages
                  .collapsible-body
                    ul
                      li
                        a(href='page-contact.html') Contact Page
                      li
                        a(href='page-todo.html') ToDos
                      li
                        a(href='page-blog-1.html') Blog Type 1
                      li
                        a(href='page-blog-2.html') Blog Type 2
                      li
                        a(href='page-404.html') 404
                      li
                        a(href='page-500.html') 500
                      li
                        a(href='page-blank.html') Blank
                li.bold
                  a.collapsible-header.waves-effect.waves-cyan
                    i.mdi-action-shopping-cart
                    |  eCommers
                  .collapsible-body
                    ul
                      li
                        a(href='eCommerce-products-page.html') Products Page
                      li
                        a(href='eCommerce-pricing.html') Pricing Table
                      li
                        a(href='eCommerce-invoice.html') Invoice
                li.bold
                  a.collapsible-header.waves-effect.waves-cyan
                    i.mdi-image-image
                    |  Medias
                  .collapsible-body
                    ul
                      li
                        a(href='media-gallary-page.html') Gallery Page
                      li
                        a(href='media-hover-effects.html') Image Hover Effects
                li.bold
                  a.collapsible-header.waves-effect.waves-cyan.active
                    i.mdi-action-account-circle
                    |  User
                  .collapsible-body
                    ul
                      li.active
                        a(href='user-profile-page.html') User Profile
                      li
                        a(href='user-login.html') Login
                      li
                        a(href='user-register.html') Register
                      li
                        a(href='user-forgot-password.html') Forgot Password
                      li
                        a(href='user-lock-screen.html') Lock Screen
                li.bold
                  a.collapsible-header.waves-effect.waves-cyan
                    i.mdi-editor-insert-chart
                    |  Charts
                  .collapsible-body
                    ul
                      li
                        a(href='charts-chartjs.html') Chart JS
                      li
                        a(href='charts-chartist.html') Chartist
                      li
                        a(href='charts-morris.html') Morris Charts
                      li
                        a(href='charts-xcharts.html') xCharts
                      li
                        a(href='charts-flotcharts.html') Flot Charts
                      li
                        a(href='charts-sparklines.html') Sparkline Charts
            li.li-hover
              .divider
            li.li-hover
              p.ultra-small.margin.more-text MORE
            li
              a(href='angular-ui.html')
                i.mdi-action-verified-user
                |  Angular UI  
                span.new.badge
            li
              a(href='css-grid.html')
                i.mdi-image-grid-on
                |  Grid
            li
              a(href='css-color.html')
                i.mdi-editor-format-color-fill
                |  Color
            li
              a(href='css-helpers.html')
                i.mdi-communication-live-help
                |  Helpers
            li
              a(href='changelogs.html')
                i.mdi-action-swap-vert-circle
                |  Changelogs
            li.li-hover
              .divider
            li.li-hover
              p.ultra-small.margin.more-text Daily Sales
            li.li-hover
              .row
                .col.s12.m12.l12
                  .sample-chart-wrapper
                    #ct2-chart.ct-chart.ct-golden-section
          a.sidebar-collapse.btn-floating.btn-medium.waves-effect.waves-light.hide-on-large-only.cyan(href='#', data-activates='slide-out')
            i.mdi-navigation-menu
        // END LEFT SIDEBAR NAV
        // ////////////////////////////////////////////////////////////////////////////
        // START CONTENT
        section#content
          // start container
          .container
            #profile-page.section
              // profile-page-header
              #profile-page-header.card
                .card-image.waves-effect.waves-block.waves-light
                  img.activator(src='images/user-profile-bg.jpg', alt='user background')
                figure.card-profile-image
                  img.circle.z-depth-2.responsive-img.activator(src='images/avatar.jpg', alt='profile image')
                .card-content
                  .row
                    .col.s3.offset-s2
                      h4.card-title.grey-text.text-darken-4 Roger Waters
                      p.medium-small.grey-text Project Manager
                    .col.s2.center-align
                      h4.card-title.grey-text.text-darken-4 10+
                      p.medium-small.grey-text Work Experience
                    .col.s2.center-align
                      h4.card-title.grey-text.text-darken-4 6
                      p.medium-small.grey-text Completed Projects
                    .col.s2.center-align
                      h4.card-title.grey-text.text-darken-4 $ 1,253,000
                      p.medium-small.grey-text Busness Profit
                    .col.s1.right-align
                      a.btn-floating.activator.waves-effect.waves-light.darken-2.right
                        i.mdi-action-perm-identity
                .card-reveal
                  p
                    span.card-title.grey-text.text-darken-4
                      | Roger Waters 
                      i.mdi-navigation-close.right
                    span
                      i.mdi-action-perm-identity.cyan-text.text-darken-2
                      |  Project Manager
                  p
                    | I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
                  p
                    i.mdi-action-perm-phone-msg.cyan-text.text-darken-2
                    |  +1 (612) 222 8989
                  p
                    i.mdi-communication-email.cyan-text.text-darken-2
                    |  mail@domain.com
                  p
                    i.mdi-social-cake.cyan-text.text-darken-2
                    |  18th June 1990
                  p
                    i.mdi-device-airplanemode-on.cyan-text.text-darken-2
                    |  BAR - AUS
              // / profile-page-header
              // profile-page-content
              #profile-page-content.row
                // profile-page-sidebar
                #profile-page-sidebar.col.s12.m4
                  // Profile About
                  .card.light-blue
                    .card-content.white-text
                      span.card-title About Me!
                      p
                        | I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
                  // Profile About
                  // Profile About Details
                  ul#profile-page-about-details.collection.z-depth-1
                    li.collection-item
                      .row
                        .col.s5.grey-text.darken-1
                          i.mdi-action-wallet-travel
                          |  Project
                        .col.s7.grey-text.text-darken-4.right-align ABC Name
                    li.collection-item
                      .row
                        .col.s5.grey-text.darken-1
                          i.mdi-social-poll
                          |  Skills
                        .col.s7.grey-text.text-darken-4.right-align HTML, CSS
                    li.collection-item
                      .row
                        .col.s5.grey-text.darken-1
                          i.mdi-social-domain
                          |  Lives in
                        .col.s7.grey-text.text-darken-4.right-align NY, USA
                    li.collection-item
                      .row
                        .col.s5.grey-text.darken-1
                          i.mdi-social-cake
                          |  Birth date
                        .col.s7.grey-text.text-darken-4.right-align 18th June, 1991
                  // / Profile About Details
                  // Profile About
                  .card.amber.darken-2
                    .card-content.white-text.center-align
                      p.card-title
                        i.mdi-social-group-add
                        |  3685
                      p Followers
                  // Profile About
                  // Profile feed
                  ul#profile-page-about-feed.collection.z-depth-1
                    li.collection-item.avatar
                      img.circle(src='images/avatar.jpg', alt='')
                      span.title Project Title
                      p
                        | Task assigned to new changes.
                        br
                        span.ultra-small Second Line
                      a.secondary-content(href='#!')
                        i.mdi-action-grade
                    li.collection-item.avatar
                      i.mdi-file-folder.circle
                      span.title New Project
                      p
                        | First Line of Project Work 
                        br
                        span.ultra-small Second Line
                      a.secondary-content(href='#!')
                        i.mdi-social-domain
                    li.collection-item.avatar
                      i.mdi-action-assessment.circle.green
                      span.title New Payment
                      p
                        | Last UK Project Payment
                        br
                        span.ultra-small $ 3,684.00
                      a.secondary-content(href='#!')
                        i.mdi-editor-attach-money
                    li.collection-item.avatar
                      i.mdi-av-play-arrow.circle.red
                      span.title Latest News
                      p
                        | company management news
                        br
                        span.ultra-small Second Line
                      a.secondary-content(href='#!')
                        i.mdi-action-track-changes
                  // Profile feed
                  // task-card
                  ul#task-card.collection.with-header
                    li.collection-header.cyan
                      h4.task-card-title My Task
                      p.task-card-date March 26, 2015
                    li.collection-item.dismissable
                      input#task1(type='checkbox')
                      label(for='task1')
                        | Create Mobile App UI. 
                        a.secondary-content(href='#')
                          span.ultra-small Today
                      span.task-cat.teal Mobile App
                    li.collection-item.dismissable
                      input#task2(type='checkbox')
                      label(for='task2')
                        | Check the new API standerds. 
                        a.secondary-content(href='#')
                          span.ultra-small Monday
                      span.task-cat.purple Web API
                    li.collection-item.dismissable
                      input#task3(type='checkbox', checked='checked')
                      label(for='task3')
                        | Check the new Mockup of ABC. 
                        a.secondary-content(href='#')
                          span.ultra-small Wednesday
                      span.task-cat.pink Mockup
                    li.collection-item.dismissable
                      input#task4(type='checkbox', checked='checked', disabled='disabled')
                      label(for='task4') I did it !
                      span.task-cat.cyan Mobile App
                  // task-card
                  // Profile Total sell
                  .card.center-align
                    .card-content.purple.white-text
                      p.card-stats-title
                        i.mdi-editor-attach-money
                        | Your Profit
                      h4.card-stats-number $8990.63
                      p.card-stats-compare
                        i.mdi-hardware-keyboard-arrow-up
                        |  70% 
                        span.purple-text.text-lighten-5 last month
                    .card-action.purple.darken-2
                      #sales-compositebar
                  // flight-card
                  #flight-card.card
                    .card-header.amber.darken-2
                      .card-title
                        h4.flight-card-title Your Next Flight
                        p.flight-card-date June 18, Thu 04:50
                    .card-content-bg.white-text
                      .card-content
                        .row.flight-state-wrapper
                          .col.s5.m5.l5.center-align
                            .flight-state
                              h4.margin LDN
                              p.ultra-small London
                          .col.s2.m2.l2.center-align
                            i.mdi-device-airplanemode-on.flight-icon
                          .col.s5.m5.l5.center-align
                            .flight-state
                              h4.margin SFO
                              p.ultra-small San Francisco
                        .row
                          .col.s6.m6.l6.center-align
                            .flight-info
                              p.small
                                span.grey-text.text-lighten-4 Depart:
                                |  04.50
                              p.small
                                span.grey-text.text-lighten-4 Flight:
                                |  IB 5786
                              p.small
                                span.grey-text.text-lighten-4 Terminal:
                                |  B
                          .col.s6.m6.l6.center-align.flight-state-two
                            .flight-info
                              p.small
                                span.grey-text.text-lighten-4 Arrive:
                                |  08.50
                              p.small
                                span.grey-text.text-lighten-4 Flight:
                                |  IB 5786
                              p.small
                                span.grey-text.text-lighten-4 Terminal:
                                |  C
                  // flight-card
                  // Map Card
                  .map-card
                    .card
                      .card-image.waves-effect.waves-block.waves-light
                        #map-canvas(data-lat='40.747688', data-lng='-74.004142')
                      .card-content
                        a.btn-floating.activator.btn-move-up.waves-effect.waves-light.darken-2.right
                          i.mdi-maps-pin-drop
                        h4.card-title.grey-text.text-darken-4
                          a.grey-text.text-darken-4(href='#') Company Name LLC
                        p.blog-post-content Some more information about this company.
                      .card-reveal
                        span.card-title.grey-text.text-darken-4
                          | Company Name LLC 
                          i.mdi-navigation-close.right
                        p
                          | Here is some more information about this company. As a creative studio we believe no client is too big nor too small to work with us to obtain good advantage.By combining the creativity of artists with the precision of engineers we develop custom solutions that achieve results.Some more information about this company.
                        p
                          i.mdi-action-perm-identity.cyan-text.text-darken-2
                          |  Manager Name
                        p
                          i.mdi-communication-business.cyan-text.text-darken-2
                          |  125, ABC Street, New Yourk, USA
                        p
                          i.mdi-action-perm-phone-msg.cyan-text.text-darken-2
                          |  +1 (612) 222 8989
                        p
                          i.mdi-communication-email.cyan-text.text-darken-2
                          |  support@geekslabs.com
                  // Map Card
                // profile-page-sidebar
                // profile-page-wall
                #profile-page-wall.col.s12.m8
                  // profile-page-wall-share
                  #profile-page-wall-share.row
                    .col.s12
                      ul.tabs.tab-profile.z-depth-1.light-blue
                        li.tab.col.s3
                          a.white-text.waves-effect.waves-light.active(href='#UpdateStatus')
                            i.mdi-editor-border-color
                            |  Update Status
                        li.tab.col.s3
                          a.white-text.waves-effect.waves-light(href='#AddPhotos')
                            i.mdi-image-camera-alt
                            |  Add Photos
                        li.tab.col.s3
                          a.white-text.waves-effect.waves-light(href='#CreateAlbum')
                            i.mdi-image-photo-album
                            |  Create Album
                      // UpdateStatus
                      #UpdateStatus.tab-content.col.s12.grey.lighten-4
                        .row
                          .col.s2
                            img.circle.responsive-img.valign.profile-image-post(src='images/avatar.jpg', alt='')
                          .input-field.col.s10
                            textarea#textarea.materialize-textarea(row='2')
                            label(for='textarea') What's on your mind?
                        .row
                          .col.s12.m6.share-icons
                            a(href='#')
                              i.mdi-image-camera-alt
                            a(href='#')
                              i.mdi-action-account-circle
                            a(href='#')
                              i.mdi-hardware-keyboard-alt
                            a(href='#')
                              i.mdi-communication-location-on
                          .col.s12.m6.right-align
                            // Dropdown Trigger
                            a.dropdown-button.btn(href='#', data-activates='profliePost')
                              i.mdi-action-language
                              |  Public
                            // Dropdown Structure
                            ul#profliePost.dropdown-content
                              li
                                a(href='#!')
                                  i.mdi-action-language
                                  |  Public
                              li
                                a(href='#!')
                                  i.mdi-action-face-unlock
                                  |  Friends
                              li
                                a(href='#!')
                                  i.mdi-action-lock-outline
                                  |  Only Me
                            a.waves-effect.waves-light.btn
                              i.mdi-maps-rate-review.left
                              | Post
                      // AddPhotos
                      #AddPhotos.tab-content.col.s12.grey.lighten-4
                        .row
                          .col.s2
                            img.circle.responsive-img.valign.profile-image-post(src='images/avatar.jpg', alt='')
                          .input-field.col.s10
                            textarea#textarea.materialize-textarea(row='2')
                            label(for='textarea') Share your favorites photos!
                        .row
                          .col.s12.m6.share-icons
                            a(href='#')
                              i.mdi-image-camera-alt
                            a(href='#')
                              i.mdi-action-account-circle
                            a(href='#')
                              i.mdi-hardware-keyboard-alt
                            a(href='#')
                              i.mdi-communication-location-on
                          .col.s12.m6.right-align
                            // Dropdown Trigger
                            a.dropdown-button.btn(href='#', data-activates='profliePost2')
                              i.mdi-action-language
                              |  Public
                            // Dropdown Structure
                            ul#profliePost2.dropdown-content
                              li
                                a(href='#!')
                                  i.mdi-action-language
                                  |  Public
                              li
                                a(href='#!')
                                  i.mdi-action-face-unlock
                                  |  Friends
                              li
                                a(href='#!')
                                  i.mdi-action-lock-outline
                                  |  Only Me
                            a.waves-effect.waves-light.btn
                              i.mdi-maps-rate-review.left
                              | Post
                      // CreateAlbum
                      #CreateAlbum.tab-content.col.s12.grey.lighten-4
                        .row
                          .col.s2
                            img.circle.responsive-img.valign.profile-image-post(src='images/avatar.jpg', alt='')
                          .input-field.col.s10
                            textarea#textarea.materialize-textarea(row='2')
                            label(for='textarea') Create awesome album.
                        .row
                          .col.s12.m6.share-icons
                            a(href='#')
                              i.mdi-image-camera-alt
                            a(href='#')
                              i.mdi-action-account-circle
                            a(href='#')
                              i.mdi-hardware-keyboard-alt
                            a(href='#')
                              i.mdi-communication-location-on
                          .col.s12.m6.right-align
                            // Dropdown Trigger
                            a.dropdown-button.btn(href='#', data-activates='profliePost3')
                              i.mdi-action-language
                              |  Public
                            // Dropdown Structure
                            ul#profliePost3.dropdown-content
                              li
                                a(href='#!')
                                  i.mdi-action-language
                                  |  Public
                              li
                                a(href='#!')
                                  i.mdi-action-face-unlock
                                  |  Friends
                              li
                                a(href='#!')
                                  i.mdi-action-lock-outline
                                  |  Only Me
                            a.waves-effect.waves-light.btn
                              i.mdi-maps-rate-review.left
                              | Post
                  // / profile-page-wall-share
                  // profile-page-wall-posts
                  #profile-page-wall-posts.row
                    .col.s12
                      // medium
                      #profile-page-wall-post.card
                        .card-profile-title
                          .row
                            .col.s1
                              img.circle.responsive-img.valign.profile-post-uer-image(src='images/avatar.jpg', alt='')
                            .col.s10
                              p.grey-text.text-darken-4.margin John Doe
                              span.grey-text.text-darken-1.ultra-small Shared publicly  -  26 Jun 2015
                            .col.s1.right-align
                              i.mdi-navigation-expand-more
                          .row
                            .col.s12
                              p
                                | I am a very simple wall post. I am good at containing 
                                a(href='#') #small
                                |  bits of 
                                a(href='#') #information
                                | .  I require little more information to use effectively.
                        .card-image.profile-medium
                          img.responsive-img.profile-post-image.profile-medium(src='images/gallary/2.jpg', alt='sample')
                          span.card-title Card Title
                        .card-content
                          p
                            | I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
                        .card-action.row
                          .col.s4.card-action-share
                            a(href='#') Like
                            a(href='#') Share
                          .input-field.col.s8.margin
                            input#profile-comments.validate.margin(type='text')
                            label(for='profile-comments') Comments
                      // medium video
                      #profile-page-wall-post.card
                        .card-profile-title
                          .row
                            .col.s1
                              img.circle.responsive-img.valign.profile-post-uer-image(src='images/avatar.jpg', alt='')
                            .col.s10
                              p.grey-text.text-darken-4.margin John Doe
                              span.grey-text.text-darken-1.ultra-small Shared publicly  -  26 Jun 2015
                            .col.s1.right-align
                              i.mdi-navigation-expand-more
                          .row
                            .col.s12
                              p
                                | I am a very simple wall post. I am good at containing 
                                a(href='#') #small
                                |  bits of 
                                a(href='#') #information
                                | .  I require little more information to use effectively.
                        .card-image.profile-medium
                          .video-container.no-controls
                            iframe(width='640', height='360', src='https://www.youtube.com/embed/10r9ozshGVE', frameborder='0', allowfullscreen='')
                          span.card-title Card Title
                        .card-content
                          p
                            | I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
                        .card-action.row
                          .col.s4.card-action-share
                            a(href='#') Like
                            a(href='#') Share
                          .input-field.col.s8.margin
                            input#profile-comments.validate.margin(type='text')
                            label(for='profile-comments') Comments
                      // small
                      #profile-page-wall-post.card
                        .card-profile-title
                          .row
                            .col.s1
                              img.circle.responsive-img.valign.profile-post-uer-image(src='images/avatar.jpg', alt='')
                            .col.s10
                              p.grey-text.text-darken-4.margin John Doe
                              span.grey-text.text-darken-1.ultra-small Shared publicly  -  26 Jun 2015
                            .col.s1.right-align
                              i.mdi-navigation-expand-more
                          .row
                            .col.s12
                              p
                                | I am a very simple wall post. I am good at containing 
                                a(href='#') #small
                                |  bits of 
                                a(href='#') #information
                                | .  I require little more information to use effectively.
                        .card-image.profile-small
                          img.responsive-img.profile-post-image(src='images/gallary/1.jpg', alt='sample')
                          span.card-title Card Title
                        .card-content
                          p
                            | I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
                        .card-action.row
                          .col.s4.card-action-share
                            a(href='#') Like
                            a(href='#') Share
                          .input-field.col.s8.margin
                            input#profile-comments.validate(type='text')
                            label(for='profile-comments') Comments
                      // small
                      #profile-page-wall-post.card
                        .card-profile-title
                          .row
                            .col.s1
                              img.circle.responsive-img.valign.profile-post-uer-image(src='images/avatar.jpg', alt='')
                            .col.s10
                              p.grey-text.text-darken-4.margin John Doe
                              span.grey-text.text-darken-1.ultra-small Shared publicly  -  26 Jun 2015
                            .col.s1.right-align
                              i.mdi-navigation-expand-more
                          .row
                            .col.s12
                              p
                                | I am a very simple wall post. I am good at containing 
                                a(href='#') #small
                                |  bits of 
                                a(href='#') #information
                                | .  I require little more information to use effectively.
                        .card-image.profile-large
                          img.responsive-img.profile-post-image(src='images/gallary/3.jpg', alt='sample')
                          span.card-title Card Title
                        .card-content
                          p
                            | I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
                        .card-action.row
                          .col.s4.card-action-share
                            a(href='#') Like
                            a(href='#') Share
                          .input-field.col.s8.margin
                            input#profile-comments.validate(type='text')
                            label(for='profile-comments') Comments
                  // / profile-page-wall-posts
                // / profile-page-wall
      // end container
      // END CONTENT
      // ////////////////////////////////////////////////////////////////////////////
      // START RIGHT SIDEBAR NAV
      aside#right-sidebar-nav
        ul#chat-out.side-nav.rightside-navigation
          li.li-hover
            a.chat-close-collapse.right(href='#', data-activates='chat-out')
              i.mdi-navigation-close
            #right-search.row
              form.col.s12
                .input-field
                  i.mdi-action-search.prefix
                  input#icon_prefix.validate(type='text')
                  label(for='icon_prefix') Search
          li.li-hover
            ul.chat-collapsible(data-collapsible='expandable')
              li
                .collapsible-header.teal.white-text.active
                  i.mdi-social-whatshot
                  | Recent Activity
                .collapsible-body.recent-activity
                  .recent-activity-list.chat-out-list.row
                    .col.s3.recent-activity-list-icon
                      i.mdi-action-add-shopping-cart
                    .col.s9.recent-activity-list-text
                      a(href='#') just now
                      p Jim Doe Purchased new equipments for zonal office.
                  .recent-activity-list.chat-out-list.row
                    .col.s3.recent-activity-list-icon
                      i.mdi-device-airplanemode-on
                    .col.s9.recent-activity-list-text
                      a(href='#') Yesterday
                      p Your Next flight for USA will be on 15th August 2015.
                  .recent-activity-list.chat-out-list.row
                    .col.s3.recent-activity-list-icon
                      i.mdi-action-settings-voice
                    .col.s9.recent-activity-list-text
                      a(href='#') 5 Days Ago
                      p Natalya Parker Send you a voice mail for next conference.
                  .recent-activity-list.chat-out-list.row
                    .col.s3.recent-activity-list-icon
                      i.mdi-action-store
                    .col.s9.recent-activity-list-text
                      a(href='#') Last Week
                      p Jessy Jay open a new store at S.G Road.
                  .recent-activity-list.chat-out-list.row
                    .col.s3.recent-activity-list-icon
                      i.mdi-action-settings-voice
                    .col.s9.recent-activity-list-text
                      a(href='#') 5 Days Ago
                      p Natalya Parker Send you a voice mail for next conference.
              li
                .collapsible-header.light-blue.white-text.active
                  i.mdi-editor-attach-money
                  | Sales Repoart
                .collapsible-body.sales-repoart
                  .sales-repoart-list.chat-out-list.row
                    .col.s8 Target Salse
                    .col.s4
                      span#sales-line-1
                  .sales-repoart-list.chat-out-list.row
                    .col.s8 Payment Due
                    .col.s4
                      span#sales-bar-1
                  .sales-repoart-list.chat-out-list.row
                    .col.s8 Total Delivery
                    .col.s4
                      span#sales-line-2
                  .sales-repoart-list.chat-out-list.row
                    .col.s8 Total Progress
                    .col.s4
                      span#sales-bar-2
              li
                .collapsible-header.red.white-text
                  i.mdi-action-stars
                  | Favorite Associates
                .collapsible-body.favorite-associates
                  .favorite-associate-list.chat-out-list.row
                    .col.s4
                      img.circle.responsive-img.online-user.valign.profile-image(src='images/avatar.jpg', alt='')
                    .col.s8
                      p Eileen Sideways
                      p.place Los Angeles, CA
                  .favorite-associate-list.chat-out-list.row
                    .col.s4
                      img.circle.responsive-img.online-user.valign.profile-image(src='images/avatar.jpg', alt='')
                    .col.s8
                      p Zaham Sindil
                      p.place San Francisco, CA
                  .favorite-associate-list.chat-out-list.row
                    .col.s4
                      img.circle.responsive-img.offline-user.valign.profile-image(src='images/avatar.jpg', alt='')
                    .col.s8
                      p Renov Leongal
                      p.place Cebu City, Philippines
                  .favorite-associate-list.chat-out-list.row
                    .col.s4
                      img.circle.responsive-img.online-user.valign.profile-image(src='images/avatar.jpg', alt='')
                    .col.s8
                      p Weno Carasbong
                      p Tokyo, Japan
                  .favorite-associate-list.chat-out-list.row
                    .col.s4
                      img.circle.responsive-img.offline-user.valign.profile-image(src='images/avatar.jpg', alt='')
                    .col.s8
                      p Nusja Nawancali
                      p.place Bangkok, Thailand
      // LEFT RIGHT SIDEBAR NAV
    // END WRAPPER
    // END MAIN
    // ////////////////////////////////////////////////////////////////////////////
    // START FOOTER
    footer.page-footer
      .footer-copyright
        .container
          span
            | Copyright  2015 
            a.grey-text.text-lighten-4(href='http://themeforest.net/user/geekslabs/portfolio?ref=geekslabs', target='_blank') GeeksLabs
            |  All rights reserved.
          span.right
            | Design and Developed by 
            a.grey-text.text-lighten-4(href='http://geekslabs.com/') GeeksLabs
    // END FOOTER
    //
      ================================================
      Scripts
      ================================================
    // jQuery Library
    script(type='text/javascript', src='/js/plugins/jquery-1.11.2.min.js')
    // materialize js
    script(type='text/javascript', src='/js/materialize.js')
    // prism
    script(type='text/javascript', src='/js/plugins/prism/prism.js')
    // scrollbar
    script(type='text/javascript', src='/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js')
    // chartist
    script(type='text/javascript', src='/js/plugins/chartist-js/chartist.min.js')
    // sparkline
    script(type='text/javascript', src='/js/plugins/sparkline/jquery.sparkline.min.js')
    script(type='text/javascript', src='/js/plugins/sparkline/sparkline-script.js')
    // google map api
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAAZnaZBXLqNBRXjd-82km_NO7GUItyKek')
    // google map
    script(type='text/javascript', src='/js/plugins/google-map/google-map-script.js')
    // plugins.js - Some Specific JS codes for Plugin Settings
    script(type='text/javascript', src='/js/plugins.js')
    // custom-script.js - Add your own theme custom JS
    script(type='text/javascript', src='/js/custom-script.js')
    // Toast Notification
    script(type='text/javascript').
      // Toast Notification
      $(window).load(function() {
      setTimeout(function() {
      Materialize.toast('<span>Hiya! I am a toast.</span>', 1500);
      }, 1500);
      setTimeout(function() {
      Materialize.toast('<span>You can swipe me too!</span>', 3000);
      }, 5000);
      setTimeout(function() {
      Materialize.toast('<span>You have new order.</span><a class="btn-flat yellow-text" href="#">Read<a>', 3000);
      }, 15000);
      });
