extends ../layout
block content
	#main
		// START WRAPPER
		.wrapper
			include ../../public/includes/left_sidebar.jade
		section#content
			// start container
			.container
				.row
					.col.s12.m6.l6
						.card
							.card-move-up.teal.waves-effect.waves-block.waves-light
								.move-up
									h5.margin.white-text Start Location
									input#origin-input.controls(type='text', name='trip_name', placeholder='starting location for your trip')
					.col.s12.m6.l6
						.card
							.card-move-up.teal.waves-effect.waves-block.waves-light
								.move-up
									h5.margin.white-text Destination Location
									input#destination-input.controls(type='text', name='trip_name', placeholder='starting location for your trip')
									.input-field.col.s12
				.row
					.input-field.col.s5.m3.l4
						select#mode
							option(value='', disabled='', selected='') Select Your Mode
							option(value='TRANSIT', id='changemode-transit') Transit
							option(value='DRIVING', id='changemode-driving') Driving
							option(value='BICYCLING', id='changemode-bicycling') Bicycling
							option(value='WALKING', id='changemode-walking') Walking
						label 
					.col.s2.m2.offset-m1.l1.offset-l1
						a#getDirections.btn-floating.valign.btn-large.waves-effect.waves-light.cyan
							i.mdi-maps-directions
						//- button#showTraffic traffic
						//- button#showTransit transit
						//- button#showBike bike
					.col.s12.m12.l12
						#jon_map.mobile-map
					
					
			// FOOTER
			include ../../public/includes/footer.jade
			// JS Scripts
			include ../../public/includes/scripts.jade
										
