/*================================================================================
	Item Name: Materialize - Material Design Admin Template
	Version: 3.1
	Author: GeeksLabs
	Author URL: http://www.themeforest.net/user/geekslabs
================================================================================

NOTE:
------
PLACE HERE YOUR OWN CSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

.dark-primary-color    { background-color: #512DA8; }
.primary-color 				{ background-color: #673AB7; }
.light-primary-color   { background-color: #D1C4E9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background-color: #00BCD4; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }


/* trip card */
.origin_name_trip_card {
  margin-top: 39px !important;
}

body {
  top: 0 !important;
}

/*#map {
  height: 100vh;
  width: 100%;
}*/

#map-container{
  height: 100%;
  width: 100%;
}

#jon_map{
	height: 62vh;
	width: 83vw;
}

@media only screen and (max-width: 600px) {
  #jon_map {
    height: 40vh;
  	width: 94vw;
  }
}

header {
  width: 100vw;
}

#content {
    margin-top: 0px;
}

.no-margin-no-padding {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.full-width {
  width: 100%;
}

.avatar-name {
  color: #fff;
  font-size: 15px;
  text-shadow: 1px 1px 1px #444;
  margin: 0;
}

.pac-container {
  z-index: 10000 !important;
}

.modal{
  z-index: 20;
}

.modal-content{
  z-index: 10;
}​
.footer-logo {
  height: 50px;
}

#map {
        height: 100%;
}

/*#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#right-panel {
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#right-panel select, #right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}
#right-panel {
  height: 100%;
  float: right;
  width: 390px;
  overflow: auto;
}

#floating-panel {
  background: #fff;
  padding: 5px;
  font-size: 14px;
  font-family: Arial;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
  display: none;
}

@media print {
  #map {
  height: 500px;
  margin: 0;
}

#right-panel {
float: none;
width: auto;
}*/

.location-card-name {
  font-size: 22px;
}

.dropdown-container {
  overflow: visible !important;
}

.select-dropdown {
  color: #D1D1D1;
}
