// START FOOTER
footer.page-footer.no-margin-no-padding
  .footer-copyright
    .container.deep-purple.no-margin-no-padding.full-width
      a.grey-text.text-lighten-4(href='http://themeforest.net/user/geekslabs/portfolio?ref=geekslabs', target='_blank') e2e.travel
      span.right
        | Copyright © 2016 
// END FOOTER
