header#header.page-topbar
  // start header nav
  .navbar-fixed
    nav.primary-color
      .nav-wrapper
        ul.left
          li
            h1.logo-wrapper
              a.brand-logo.darken-1(href='/dashboard')
                img(src='/images/logo/Long - White.svg', alt='e2e.travel logo')
              span.logo-text e2e.travel
        ul.right.hide-on-med-and-down
          li
            a.waves-effect.waves-block.waves-light.toggle-fullscreen(href='javascript:void(0);')
              i.mdi-action-settings-overscan
          li
            a.waves-effect.waves-block.waves-light.dashboard-button(href='/dashboard')
              i.mdi-action-dashboard
          li
            a.waves-effect.waves-block.waves-light.profile-button(href='/profile')
              i.mdi-action-face-unlock
          li
            a.waves-effect.waves-block.waves-light.location-button(href='/locations')
              i.mdi-communication-location-on
          li
            a.waves-effect.waves-block.waves-light.notification-button(href='/trips', data-activates='notifications-dropdown')
              i.mdi-av-timer
          li
            a.waves-effect.waves-block.waves-light(href='/logout')
              i.mdi-hardware-keyboard-tab
        // notifications-dropdown
        //- ul#notifications-dropdown.dropdown-content
        //-   li
        //-     h5
        //-       | TRIP TIMES
        //-   li.divider
        //-   li
        //-     a
        //-       i.mdi-maps-directions-bike
        //-       |  Commute to Work - 3min longer than average
        //-   li
        //-     a
        //-       i.mdi-action-stars
        //-       |  Commute to Daycare - 5min longer than average  
