// START LEFT SIDEBAR NAV
aside#left-sidebar-nav
  ul#slide-out.side-nav.fixed.leftside-navigation
    li.user-details.cyan
      .row
        .col.col.s4.m4.l4
          img.circle.responsive-img.valign.profile-image(src='/images/avatar.jpg', alt='')
        .col.col.s8.m8.l8
        p.avatar-name Tim Pender
        p.user-roal mrtimpender
    li.bold
      a.waves-effect.waves-cyan(href='/dashboard.html')
        i.mdi-action-dashboard
        |  Dashboard
    li.bold
      a.waves-effect.waves-cyan(href='/profile.html')
        i.mdi-action-face-unlock
        |  Profile
    li.bold
      a.waves-effect.waves-cyan(href='#')
        i.mdi-communication-email
        |  Contact Us 
  a.sidebar-collapse.btn-floating.btn-medium.waves-effect.waves-light.hide-on-large-only.cyan(href='#', data-activates='slide-out')
    i.mdi-navigation-menu
// END LEFT SIDEBAR NAV
 
